@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');
/* Global */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  
}
body{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
   color: #FFFAFA;
  text-align: left;
  font-family: "-apple-system,BlinkMacSystemFont",
  "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color: #fff;
}
img{
  max-width: 100%;
  height: auto;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
/* Hero */
.hero-container {
  height: 550px;
  background-image: url("../src/Assets/cigar.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

 
}
.center-image {
  margin: auto;
  display: flex;
  padding-top: 69px;
  margin-bottom: 59px;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #514949;
}

.red{
  color: red;
  font-weight: bolder;
  border-radius: 50%;
  font-size: 30px;
}
.hero {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.hero h2 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-weight: 800;
  color: #FFFAFA;
  margin-bottom: 36px;
}
.hero p {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}
/* Hero button */
.btn-red {
  background-color: #E7332B;
  color: #fff;
  margin-right: 24px;
}
.btn-div {
  margin-top: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-btn {
  padding: 11px 28px;
  border: 1px solid #E7332B;
  border-radius: 20px;
}
/* content session */
.info{
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #514949;
  
}
.info1{
  flex: 1;
}
.info2{
  flex: 1;
  padding-left: 20px;
}

/* info on cities and Pm */
.cities{
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #514949;
}
.city-info {
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;

}

.city-info h4 {
  margin-bottom: 0.35rem;
}
.city-info p {
  margin-bottom: 0;
}
.cigg {
  transition: .5s;

}
.popup {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* Blog */
.head{
  color: black;
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.head h2{
  color: #E7332B;
  font-weight: bolder;
}
/* Footer */
.footer {
  margin-top: 215px;
}
.footer-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 56px;
  padding: 20px;
}
.footer h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #514949;
}
.contact p, .address p {
  font-size: 14px;
  line-height: 20px;
  color: #514949;
  opacity: 0.9;
}
.contact-icons img {
  width: 18px !important;
  margin-right: 5px;
}
.copyright p {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 32px;
  color: #514949;
  padding-bottom: 97px;
}
.link{
  color: #E7332B;
  text-decoration: none;
  background-color: transparent; 
}

@media screen and (max-width:550px){
  .btn-div{
      display: flex;
      flex-direction:column;
  }
  
  .footer-flex-container{
      display: flex;
      flex-direction:column;
  }
  .footer {
      margin-top: 10px;
  }
  .footer-logo{
      margin-bottom: 10px;
  }
  .hero-container{
    height: 650px;
  }
  .info{
    display: flex;
    flex-direction: column;
    height: 650px;
    margin-top: 20px;
    
  }
  .info2{
    padding: 5px;
  }
  .cities{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .cities .info1, .cities .info2{
    flex: 0;
  }
  .head{
    display: flex;
    flex-direction: column;
  }
  .info1{
   margin-top: 60px;
  }
  .btn-div{
    margin: 10px;
  }
}   
